@font-face {
  font-family: "CoFo_Sans-Regular";
  src: url("../items/fonts/CoFo_Sans-Regular.woff") format("woff");
}
@font-face {
  font-family: "TT-Nooks-Light";
  src: url("../items/fonts/TT-Nooks-Light.woff") format("woff");
}
